<div id="form-container">
    <form action="/search" method="GET">

        {{!-- size attribute here refers to input with a width of 50 characters --}}
        <input type="text" name="search-term" size="50" placeholder="Please enter a search term..." required>

        <div class="button-container">
            <button type="submit">Search</button>
        </div>
    </form>
</div>